<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <!-- container -->
        <div class="container">
            <div class="flex flex-col items-center min-h-screen pt-6 bg-gray-100 sm:justify-center sm:pt-0">
    
                <div class="w-full px-16 py-20 mt-6 overflow-hidden bg-white rounded-lg lg:max-w-4xl">
    
                    <div class="mb-4">
                        <h1 class="font-serif text-3xl font-bold underline decoration-gray-400"> {{ .Name }} </h1>
                    </div>
    
                    <div class="w-full px-6 py-4 bg-white rounded shadow-md ring-1 ring-gray-900/10">
                        <form method="POST" action="#">
                            <!-- Title -->
                            <div>
                                <div class="flex items-center mb-4 space-x-2">
                                    <span class="text-xs text-gray-500">ID: {{ .ID }}</span>
                                </div>
                                <div class="flex items-center mb-4 space-x-2">
                                    <span class="text-xs text-gray-500">Created At: {{ .CreatedAt.Format "Mon 2006-01-02 3:4:5 pm" }}</span>
                                </div>
                                <div class="flex items-center mb-4 space-x-2">
                                    <span class="text-xs text-gray-500">Updated At: {{ .UpdatedAt.Format "Mon 2006-01-02 3:4:5 pm" }}</span>
                                </div>
                                {{ if .Deleted }}
                                <div class="flex items-center mb-4 space-x-2">
                                    <span class="text-xs text-gray-500">Delete Comment: {{ .DeleteComment }}</span>
                                </div>
                                {{ end }}
                                <p class="text-base text-gray-700">{{ .Description }}</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>